@font-face {
    font-family: 'Heuristica';
    src: local('Heuristica Regular'), local('Heuristica-Regular'),
        url('res/fonts/Heuristica-Regular.woff2') format('woff2'),
        url('res/fonts/Heuristica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Heuristica';
    src: local('Heuristica Bold'), local('Heuristica-Bold'),
        url('res/fonts/Heuristica-Bold.woff2') format('woff2'),
        url('res/fonts/Heuristica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Heuristica';
    src: local('Heuristica Bold Italic'), local('Heuristica-BoldItalic'),
        url('res/fonts/Heuristica-BoldItalic.woff2') format('woff2'),
        url('res/fonts/Heuristica-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Heuristica';
    src: local('Heuristica Italic'), local('Heuristica-Italic'),
        url('res/fonts/Heuristica-Italic.woff2') format('woff2'),
        url('res/fonts/Heuristica-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display:swap;
}


/*********************************
 * UI - COMPENDIUM LIST
 ********************************/

.window-app .window-content {
    background:url("res/pics/parchment.jpg") top left;
    font-family:'Heuristica';
}

.sidebar-tab .directory-list .directory-item {
    line-height:80px;
    font-size:16px;
    border-bottom:1px solid #cab87a;
    padding:2px 0 3px;
}

.sidebar-tab .directory-list .entry-name {
    font-weight:bold;
}

.sidebar-tab .directory-list .directory-item img {
    width:80px;
    height:80px;
    border:3px double #cab87a;
}


.warcraft5e .window-content {
    background:url("res/pics/parchment.jpg") top left;
    font-size:16px;
    line-height:20px;
    color:#191813;
    padding:5px 20px;
}

.warcraft5e .window-content h1 {
    font-weight:bold;
    color:#1b456b;
    border-bottom:1px solid #cab87a;
    font-size:1.5em;
    line-height:1.5em;
    position:relative;
    padding-bottom:5px;
}

.warcraft5e .window-content h1::after {
    content:'';
    width:100%;
    height:1px;
    border-bottom:1px solid #cab87a;
    position:absolute; bottom:3px; left:0;
}

.warcraft5e .window-content hr {
    border-top:1px solid #cab87a;
    border-bottom:0;
    width:25%;
    margin:25px auto;
}

.warcraft5e .window-content hr.full {
    width:90%;
}

.warcraft5e .window-content h2 {
    font-weight:bold;
    border:none;
    font-size:1.2em;
}

.warcraft5e .window-content h3 {
    font-weight:bold;
    font-size:1.2em;
    color:#5081bd;
}

.warcraft5e .imageRow {
    display:grid;
    grid-template-columns:80px 1fr;
    grid-gap:10px;
    padding-bottom:10px;
}

.warcraft5e .imageRow img {
    width:80px;
    height:80px;
    border:3px double #cab87a;
}

.warcraft5e .imageRow .imgContent {
    align-self: center;
}

.warcraft5e section {
    padding-bottom:50px;
}