<table class="{{this.table.class}}">
    <tr>
        {{#each this.table.head}}
            <th class="{{this.class}}">
                {{#if this.wrap}}
                    <span>
                {{/if}}
                {{localize this.title}}
                {{#if this.sup}}
                    <sup>{{this.sup}}</sup>
                {{/if}}
                {{#if this.wrap}}
                    </span>
                {{/if}}
            </th>
        {{/each}}
    </tr>
    {{#each this.table.rows}}
        <tr>
            {{#each this}}
                <td class="{{this.class}}">
                    {{#if this.value}}
                        {{#if this.plus}}
                            +
                        {{/if}}
                        {{#if this.minus}}
                            -
                        {{/if}}
                        {{this.value}}
                        {{#if this.unit}}
                            {{localize this.unit}}
                        {{/if}}
                        {{#if this.sup}}
                            <sup>{{this.sup}}</sup>
                        {{/if}}
                    {{else}}
                        {{#unless this.text}}
                            {{#unless this.link}}
                                {{#unless this.textParts}}
                                    -
                                {{/unless}}
                            {{/unless}}
                        {{/unless}}
                    {{/if}}
                    {{#if this.text}}
                        {{localize this.text}}
                        {{#if this.sup}}
                            <sup>{{this.sup}}</sup>
                        {{/if}}
                        {{#if this.brackets}}
                            ({{localize this.brackets}})
                        {{/if}}
                    {{/if}}
                    {{#if this.textParts}}
                        {{#each this.textParts}}
                            {{localize this}}
                            {{#unless @last}}
                                ,
                            {{/unless}}
                        {{/each}}
                    {{/if}}
                    {{#if this.link}}
                        <a draggable="true" class="entity-link content-link spellLink" data-type="Item" data-pack="{{this.link.pack}}" data-id="{{this.link.node}}" data-uuid="Compendium.{{this.link.pack}}.{{this.link.node}}">
                            {{localize this.link.label}}
                            {{#if this.link.option}}
                                ({{this.link.option}})
                            {{/if}}
                        </a>
                    {{/if}}
                </td>
            {{/each}}
        </tr>
    {{/each}}
</table>