<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!------ SHEET HEADER ------}}
    <header>
        <h1>{{localize item.data.name}}</h1>
    </header>

    <section>
        <div class="classIntroduction">
            <div class="artwork">
                <img src="{{item.data.artwork.src}}">
                <a href="{{item.data.artwork.url}}" target="_blank">&copy;{{item.data.artwork.credit}}</a>
            </div>
            <i>{{{localize item.data.introduction}}}</i>
            <br>
            <p>
                {{localize item.data.conclusion}}
            </p>
            <br>
            <br>
            {{#each item.data.blocks}}
                <h2>{{localize this.title}}</h2>
                {{{localize this.content}}}
            {{/each}}
        </div>
    </section>
</form>
