<form class="{{cssClass}} flexcol" autocomplete="off">

    <header>
        <div class="imageRow">
            <img src="{{item.img}}">
            <div class="imgContent">
                <h1>{{localize item.name}}</h1>
                <nav class="sheet-navigation tabs" data-group="primary">
                    <a class="item active" data-tab="lore">Background</a>
                    <a class="item" data-tab="details">Features</a>
                    <a class="item" data-tab="progression">Progression</a>
                    <a class="item" data-tab="archetypes">Archetypes/Paths</a>
                </nav>
            </div>
        </div>
    </header>
    <br>

    <section class="sheet-body">
        <div class="classIntroduction tab active" data-group="primary" data-tab="lore">
            <div class="artwork">
                <img src="{{item.data.artwork.1.src}}">
                <a href="{{item.data.artwork.1.url}}" target="_blank">&copy;{{item.data.artwork.1.credit}}</a>
            </div>
            {{#each item.data.introduction}}
                <p><i>“{{localize this}}“</i></p>
            {{/each}}
            <br>
            <p>
                {{{localize item.data.description.value}}}
            </p>
            <br>
            {{#each item.data.blocks}}
                {{#if @last}}
                    <div class="artwork">
                        <img src="{{../item.data.artwork.2.src}}">
                        <a href="{{../item.data.artwork.2.url}}" target="_blank">&copy;{{../item.data.artwork.2.credit}}</a>
                    </div>
                {{/if}}
                <h4>{{localize this.title}}</h4>
                <p>{{{localize this.content}}}</p>
                <br>
            {{/each}}
        </div>

        <div class="tab details" data-group="primary" data-tab="details">
            <h4>Hit Points</h4>
            <table>
                <tr>
                    <th class="left">Hit Dice:</th>
                    <td>1{{item.data.hitDice}} per {{item.name}} level</td>
                </tr>
                <tr>
                    <th class="left">Hit Points - lvl 1</th>
                    <td>{{item.data.hitPoints1st}} + your Stamina modifier</td>
                </tr>
                <tr>
                    <th class="left">Hit Points - lvl +</th>
                    <td>1{{item.data.hitDice}} (or {{item.data.hitPointsHalfed}}) + your Stamina modifier per {{item.name}} level after 1st</td>
                </tr>
            </table>
            <br>
            <h4>Proficiencies</h4>
            <table>
                <tr>
                    <th class="left">Armor:</th>
                    <td>
                        {{#each item.data.armorProfs}}
                            {{#unless @first}}{{#if @last}} and {{else}},{{/if}}{{/unless}}
                            {{lookup ../config.armorProficiencies this}}
                        {{/each}}
                    </td>
                </tr>
                <tr>
                    <th class="left">Weapons:</th>
                    <td>
                        {{#each item.data.weaponProfs}}
                            {{#unless @first}}{{#if @last}} and {{else}},{{/if}}{{/unless}}
                            {{lookup ../config.weaponProficiencies this}}
                        {{/each}}
                        {{#each item.data.specificWeaponProfs}}
                            {{#if @last}} and {{else}},{{/if}}
                            {{~this}}
                        {{/each}}
                    </td>
                </tr>
                <tr>
                    <th class="left">Tools:</th>
                    <td>
                        {{#if item.data.toolProfs}}
                            {{#each item.data.toolProfs}}
                                {{#unless @first}}{{#if @last}} and {{else}},{{/if}}{{/unless}}
                                {{{lookup ../config.toolProficiencies this}}}
                            {{/each}}
                        {{else}}
                        None
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <th class="left">Saving Throws:</th>
                    <td>
                        {{#each item.data.saves}}
                            {{#unless @first}}{{#if @last}} and {{else}},{{/if}}{{/unless}}
                            {{lookup ../config.abilities this}}
                        {{/each}}
                    </td>
                </tr>
                <tr>
                    <th class="left">Skills:</th>
                    <td>
                        Choose {{item.data.skills.number}} skills from
                        {{log config}}
                        {{#each item.data.skills.choices}}
                            {{#unless @first}}{{#if @last}} and {{else}},{{/if}}{{/unless}}
                            {{lookup ../config.skills this}}
                        {{/each}}
                    </td>
                </tr>
            </table>
            <br>
            <h4>Equipment</h4>
            You start with the following equipment, in addition to the equipment granted by your background:
            <ul>
                {{#each item.data.equipment}}
                    <li>
                        {{#if this.[1]}}
                            {{#each this}}
                                {{#if @first}}
                                    (a)
                                {{/if}}
                                {{#unless @first}}or (b){{/unless}}
                                {{this}}
                            {{/each}}
                        {{else}}
                            {{this}}
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
            <br>
            <h4>Quick Build</h4>
            <p>{{{localize item.data.quickBuild}}}</p>
            <br>
            {{#if item.data.specialFeats}}
                <h3>Special Features</h3>
                {{#each item.data.specialFeats}}
                    <h4>{{localize this.title}}</h4>
                    <p>{{{localize this.description}}}</p>
                    <br>
                {{/each}}
            {{/if}}
        </div>

        <div class="tab progression" data-group="primary" data-tab="progression">
            <table>
                <tr>
                    <th class="numberCol">Level</th>
                    <th class="numberCol">Prof</th>
                    {{#if this.data.specialCol}}
                        <th>{{this.data.specialCol}}</th>
                    {{/if}}
                    <th class="left">Features</th>
                    {{#if this.data.isCaster}}
                        <th>Caster (Spell)</th>
                    {{/if}}
                </tr>
                {{#each item.data.progression}}
                    <tr>
                        <td class="center">{{this.level}}</td>
                        <td class="center">+{{this.proficiency}}</td>
                        {{#if this.special}}
                            <th>{{this.special}}</th>
                        {{/if}}
                        <td>
                            {{#if this.feats}}
                                {{#each this.feats}}
                                    <a class="entity-link spellLink" data-pack="{{this.pack}}" data-id="{{this.node}}">
                                        {{localize this.label}}
                                        {{#if this.option}}
                                            ({{this.option}})
                                        {{/if}}
                                    </a>
                                {{/each}}
                            {{else}}
                                -
                            {{/if}}
                        </td>
                        {{#if this.caster}}
                            <td class="center">{{this.caster}}</td>
                        {{/if}}
                    </tr>
                {{/each}}
            </table>
        </div>

        <div class="tab details" data-group="primary" data-tab="archetypes">
            {{#each item.data.archetypes}}
                <h3>{{localize this.title}}</h3>
                <p>{{localize this.description}}</p>
                <table>
                    <tr>
                        <th class="numberCol">Level</th>
                        <th class="left">Features</th>
                    </tr>
                    {{#each this.featList}}
                        <tr>
                            <td class="center">{{this.level}}</td>
                            <td>
                                {{#each this.feats}}
                                    <a class="entity-link spellLink" data-pack="{{this.pack}}" data-id="{{this.node}}">
                                        {{localize this.label}}
                                        {{#if this.option}}
                                            ({{this.option}})
                                        {{/if}}
                                    </a>
                                {{/each}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
                {{#if this.spellList}}
                    <table>
                        <tr>
                            <th class="numberCol">Level</th>
                            <th class="left">Spells</th>
                        </tr>
                        {{#each this.spellList}}
                            <tr>
                                <td class="center">{{this.level}}</td>
                                <td>
                                    {{#each this.spells}}
                                        <a class="entity-link spellLink" data-pack="{{this.pack}}" data-id="{{this.node}}">
                                            {{localize this.label}}
                                            {{#if this.option}}
                                                ({{this.option}})
                                            {{/if}}
                                        </a>
                                    {{/each}}
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                {{/if}}
                {{#unless @last}}
                    <hr class="double full">
                {{/unless}}
            {{/each}}
        </div>
    </section>
</form>