<form class="{{cssClass}} flexcol" autocomplete="off">

    <header>
        <div class="imageRow">
            <img src="{{item.img}}"/>
            <div class="imgContent">
                <h1>{{localize item.name}}</h1>
                <div class="headerSpellGrid">
                    <span>{{localize "WC5E.SkillSheet.Category"}}: {{localize item.data.wcCategory}}</span>
                </div>
            </div>
        </div>
    </header>

    <section class="skillContent">
        {{{localize item.data.description.value}}}
        {{#if item.data.description.options}}
            <ul>
                {{#each item.data.description.options}}
                    <li>
                        {{{localize this}}}
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </section>
</form>