<form class="{{cssClass}} flexcol" autocomplete="off">

    <header>
        <div class="imageRow">
            <img src="{{item.img}}"/>
            <div class="imgContent">
                <h1>{{localize item.name}}</h1>
                <div class="headerSpellGrid">
                    <span>{{localize "WC5E.SkillSheet.Category"}}: {{localize item.flags.wc5e.category}}</span>
                </div>
            </div>
        </div>
    </header>

    <section class="sheet-body skillContent">
        <div class="tab details">
            {{#if item.data.requirements}}
                <i>Prerequisites:</i> {{item.data.requirements}}<br><br>
            {{/if}}
            {{#each item.flags.wc5e.description}}
                {{> "modules/warcraft5e/templates/item/parts/description.html"}}
            {{/each}}
        </div>
    </section>
</form>