<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!------ SHEET HEADER ------}}
    <header>
        <h1>{{localize item.name}}</h1>
        {{localize item.data.description}}
    </header>

    <!--
    this.form.ondrop = event => this._onDrop(event);

    async _onDrop(event) {
        event.preventDefault();
        event.stopPropagation();
        let data;
        try {
          data = JSON.parse(event.dataTransfer.getData('text/plain'));
        }
        catch(err) {
          console.log("Drop error");
          console.log(event.dataTransfoer.getData('text/plain'));
          console.log(err);
          return false;
        }

        let item = game.items.get(data.id);
        await this.object.addItem(item.data);
        console.log("Drop completed");
        console.log(item.data)
        return false;
      }
    -->

    <hr >

    <section>
        <h2>{{localize "WC5E.RaceSheet.Traits"}}</h2>
        <div class="raceGrid">
            <strong><i>{{localize "WC5E.RaceSheet.AbilityScoreIncrease"}}:</i></strong>{{localize item.data.abilityMod}}
            <hr>
            <strong><i>{{localize "WC5E.RaceSheet.Age"}}:</i></strong> {{localize item.data.age}}
            <hr>
            <strong><i>{{localize "WC5E.RaceSheet.Affiliation"}}:</i></strong> {{localize item.data.affiliation}}
            <hr>
            <strong><i>{{localize "WC5E.RaceSheet.Size"}}:</i></strong> {{localize item.data.size}}
            <hr>
            <strong><i>{{localize "WC5E.RaceSheet.Appearance"}}:</i></strong> {{localize item.data.appearance}}
            <hr>
            <strong><i>{{localize "WC5E.RaceSheet.Speed"}}:</i></strong> {{localize "WC5E.RaceSheet.SpeedVal"}} {{item.data.speed}}. {{#if item.data.speedAddition}} {{localize item.data.speedAddition}} {{/if}}
            <hr>

            {{!------ TRAITS ------}}
            {{#each item.data.traits}}
                <strong><i>{{localize this.key}}:</i></strong>
                <div>
                    {{{localize this.value}}}
                    {{#if this.options}}
                        <ul>
                            {{#each this.options}}
                                <li>{{localize this}}</li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
                <hr>
            {{/each}}

            {{!------ LANGUAGES ------}}
            <strong><i>{{localize "WC5E.RaceSheet.Languages"}}:</i></strong>
            {{#each item.data.languages}}
                {{localize this}},
            {{/each}}.
            {{localize item.data.languageDescription}}
            <hr>
            {{!------ NAMES ------}}
            {{#if item.data.names}}
                {{#if item.data.names}}
                    <strong><i>{{localize "WC5E.RaceSheet.MaleNames"}}:</i></strong>
                    {{#each item.data.names.male}}
                        {{this}}{{#unless @last}},{{/unless}}
                    {{/each}}
                    <hr>
                {{/if}}
                {{#if item.data.names.female}}
                    <strong><i>{{localize "WC5E.RaceSheet.FemaleNames"}}:</i></strong>
                    {{#each item.data.names.female}}
                        {{this}}{{#unless @last}},{{/unless}}
                    {{/each}}
                    <hr>
                {{/if}}
                {{#if item.data.names.family}}
                    <strong><i>{{localize "WC5E.RaceSheet.FamilyNames"}}:</i></strong>
                    {{#each item.data.names.family}}
                        {{localize this}}{{#unless @last}},{{/unless}}
                    {{/each}}
                    <hr>
                {{/if}}
            {{/if}}
            {{#if item.data.subrace}}
                <strong><i>{{localize "WC5E.RaceSheet.Subrace"}}:</i></strong> {{localize item.data.subrace}} {{localize "WC5E.RaceSheet.SubraceChoice"}}
                <hr>
            {{/if}}
        </div>


        {{!------ SUBRACES ------}}
        {{#if item.data.subrace}}
            <br>
            {{#each item.data.subraces}}
                <hr class="full">
                <br>
                <div class="artwork">
                    <img src="{{this.artwork.src}}"/>
                    <a href="{{this.artwork.url}}" target="_blank">&copy; {{this.artwork.credit}}</a>
                </div>
                <div class="raceDescription">
                    <h3>{{localize this.name}}</h3>
                    <i>“{{localize this.quote}}”</i>
                    <br>
                    <br>
                    <p>
                    {{localize this.description}}
                    </p>
                    <br>
                    <p>
                    {{#if this.affiliation}}
                        <strong><i>{{localize "WC5E.RaceSheet.Affiliation"}}:</i></strong> {{localize this.affiliation}}
                        <hr>
                    {{/if}}
                    </p>
                </div>
                <div class="raceGrid">
                    {{#if this.abilityMod}}
                        <strong><i>{{localize "WC5E.RaceSheet.AbilityScoreIncrease"}}:</i></strong> {{localize this.abilityMod}}
                        <hr>
                    {{/if}}

                    {{!------ TRAITS ------}}
                    {{#if this.traits}}
                        {{#each this.traits}}
                            <strong><i>{{localize this.key}}:</i></strong>
                            <div>
                                {{{localize this.value}}}
                                {{#if this.options}}
                                    <ul>
                                        {{#each this.options}}
                                            <li>{{{localize this}}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                                {{#if this.target}}
                                    {{#unless this.options}}
                                        <br>
                                    {{/unless}}
                                    {{#each this.target}}
                                        <a class="entity-link spellLink" data-pack="{{this.pack}}" data-id="{{this.node}}">
                                            {{localize this.label}}
                                        </a>
                                    {{/each}}
                                {{/if}}
                            </div>
                            <hr>
                        {{/each}}
                    {{/if}}

                    {{!------ NAMES ------}}
                    {{#if this.names}}
                        {{#if this.names}}
                            <strong><i>{{localize "WC5E.RaceSheet.MaleNames"}}:</i></strong>
                            {{#each this.names.male}}
                                {{this}}{{#unless @last}},{{/unless}}
                            {{/each}}
                            <hr>
                        {{/if}}
                        {{#if this.names.female}}
                            <strong><i>{{localize "WC5E.RaceSheet.FemaleNames"}}:</i></strong>
                            {{#each this.names.female}}
                                {{this}}{{#unless @last}},{{/unless}}
                            {{/each}}
                            <hr>
                        {{/if}}
                        {{#if this.names.family}}
                            <strong><i>{{localize "WC5E.RaceSheet.FamilyNames"}}:</i></strong>
                            {{#each this.names.family}}
                                {{localize this}}{{#unless @last}},{{/unless}}
                            {{/each}}
                            <hr>
                        {{/if}}
                    {{/if}}
                </div>
                <br>
            {{/each}}
        {{/if}}

    </section>
</form>
