<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!------ SHEET HEADER ------}}
    <header>
        <h1>{{localize item.name}}</h1>
        {{localize item.data.description}}
    </header>

    <hr >

    <section>
        <h2>{{localize "WC5E.RaceSheet.Traits"}}</h2>
        <div class="raceGrid">
            <strong><i>{{localize "WC5E.RaceSheet.AbilityScoreIncrease"}}:</i></strong>{{localize item.data.abilityMod}}
            <hr>
            <strong><i>{{localize "WC5E.RaceSheet.Age"}}:</i></strong> {{localize item.data.age}}
            <hr>
            <strong><i>{{localize "WC5E.RaceSheet.Affiliation"}}:</i></strong> {{localize item.data.affiliation}}
            <hr>
            <strong><i>{{localize "WC5E.RaceSheet.Size"}}:</i></strong> {{localize item.data.size}}
            <hr>
            <strong><i>{{localize "WC5E.RaceSheet.Appearance"}}:</i></strong> {{localize item.data.appearance}}
            <hr>
            <strong><i>{{localize "WC5E.RaceSheet.Speed"}}:</i></strong> {{localize "WC5E.RaceSheet.SpeedVal"}} {{item.data.speed}}. {{#if item.data.speedAddition}} {{localize item.data.speedAddition}} {{/if}}
            <hr>

            {{!------ TRAITS ------}}
            {{#each item.data.traits}}
                <strong><i>{{localize this.key}}:</i></strong> {{localize this.value}}
                <hr>
            {{/each}}

            {{!------ LANGUAGES ------}}
            <strong><i>{{localize "WC5E.RaceSheet.Languages"}}:</i></strong>
            {{#each item.data.languages}}
                {{localize this}},
            {{/each}}.
            {{localize item.data.languageDescription}}
            <hr>
            {{!------ NAMES ------}}
            {{#if item.data.names}}
                {{#if item.data.names}}
                    <strong><i>{{localize "WC5E.RaceSheet.MaleNames"}}:</i></strong>
                    {{#each item.data.names.male}}
                        {{this}},
                    {{/each}}
                    <hr>
                {{/if}}
                {{#if item.data.names.female}}
                    <strong><i>{{localize "WC5E.RaceSheet.FemaleNames"}}:</i></strong>
                    {{#each item.data.names.female}}
                        {{this}},
                    {{/each}}
                    <hr>
                {{/if}}
                {{#if item.data.names.family}}
                    <strong><i>{{localize "WC5E.RaceSheet.FamilyNames"}}:</i></strong>
                    {{#each item.data.names.family}}
                        {{localize this}},
                    {{/each}}
                    <hr>
                {{/if}}
            {{/if}}
            {{#if item.data.subrace}}
                <strong><i>{{localize "WC5E.RaceSheet.Subrace"}}:</i></strong> {{localize item.data.subrace}} {{localize "WC5E.RaceSheet.SubraceChoice"}}
                <hr>
            {{/if}}
        </div>


        {{!------ SUBRACES ------}}
        {{#if item.data.subrace}}
            <br>
            {{#each item.data.subraces}}
                <hr class="full">
                <br>
                <div class="imageRow">
                    <img src="{{this.img}}">
                    <div class="imgContent">
                        <h3>{{localize this.name}}</h3>
                        <i>“{{localize this.quote}}”</i>
                    </div>
                </div>
                {{localize this.description}}<br>
                <hr>
                <div class="raceGrid">
                    {{#if this.abilityMod}}
                        <strong><i>{{localize "WC5E.RaceSheet.AbilityScoreIncrease"}}:</i></strong> {{localize this.abilityMod}}
                        <hr>
                    {{/if}}

                    {{#if this.affiliation}}
                        <strong><i>{{localize "WC5E.RaceSheet.Affiliation"}}:</i></strong> {{localize this.affiliation}}
                        <hr>
                    {{/if}}

                    {{!------ TRAITS ------}}
                    {{#if this.traits}}
                        {{#each this.traits}}
                            <strong><i>{{localize this.key}}:</i></strong> {{localize this.value}}
                            <hr>
                        {{/each}}
                    {{/if}}

                    {{!------ NAMES ------}}
                    {{#if this.names}}
                        {{#if this.names}}
                            <strong><i>{{localize "WC5E.RaceSheet.MaleNames"}}:</i></strong>
                            {{#each this.names.male}}
                                {{this}},
                            {{/each}}
                            <hr>
                        {{/if}}
                        {{#if this.names.female}}
                            <strong><i>{{localize "WC5E.RaceSheet.FemaleNames"}}:</i></strong>
                            {{#each this.names.female}}
                                {{this}},
                            {{/each}}
                            <hr>
                        {{/if}}
                        {{#if this.names.family}}
                            <strong><i>{{localize "WC5E.RaceSheet.FamilyNames"}}:</i></strong>
                            {{#each this.names.family}}
                                {{localize this}},
                            {{/each}}
                            <hr>
                        {{/if}}
                    {{/if}}
                </div>
                <br>
            {{/each}}
        {{/if}}

    </section>
</form>
