<form class="{{cssClass}} flexcol" autocomplete="off">

    <div class="ruleNav">
        {{#if item.flags.wc5e.prev}}
            <a class="entity-link content-link prevlink" data-pack="warcraft5e.{{item.flags.wc5e.prev.pack}}" data-id="{{item.flags.wc5e.prev.node}}">
                <span>{{localize item.flags.wc5e.prev.label}}</span>
            </a>
            {{else}}
            <span></span>
        {{/if}}

        {{#if item.flags.wc5e.next}}
            <a class="entity-link content-link prevlink nextlink" data-pack="warcraft5e.{{item.flags.wc5e.next.pack}}" data-id="{{item.flags.wc5e.next.node}}">
                <span>{{localize item.flags.wc5e.next.label}}</span>
            </a>
        {{/if}}
    </div>

    <header>
        <h1>{{localize item.flags.wc5e.title}}</h1>
    </header>

    <section>
        {{> "modules/warcraft5e/templates/item/parts/table.html"}}
        {{#each item.flags.wc5e.content}}
            {{#if this.headline}}
                <br>
                <h2>{{localize this.headline}}</h2>
            {{/if}}
            {{#if this.title}}
                {{#unless this.headline}}
                    <br>
                {{/unless}}
                <h3>{{localize this.title}}</h3>
            {{/if}}
            {{#if this.value}}
                <p>
                    {{#if this.special}}
                        <i>Special:</i>
                    {{/if}}
                    {{{localize this.value}}}
                </p>
            {{/if}}
            {{#if this.options}}
                <ul>
                    {{#each this.options}}
                        <li>{{{localize this}}}</li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if this.table}}
                {{> "modules/warcraft5e/templates/item/parts/table.html"}}
            {{/if}}
        {{/each}}
    </section>

    <div class="ruleNav bottom">
        {{#if item.flags.wc5e.prev}}
            <a class="entity-link content-link prevlink" data-pack="warcraft5e.{{item.flags.wc5e.prev.pack}}" data-id="{{item.flags.wc5e.prev.node}}">
                <span>{{localize item.flags.wc5e.prev.label}}</span>
            </a>
            {{else}}
            <span></span>
        {{/if}}

        {{#if item.flags.wc5e.next}}
            <a class="entity-link content-link prevlink nextlink" data-pack="warcraft5e.{{item.flags.wc5e.next.pack}}" data-id="{{item.flags.wc5e.next.node}}">
                <span>{{localize item.flags.wc5e.next.label}}</span>
            </a>
        {{/if}}
    </div>

</form>