<form class="{{cssClass}} flexcol" autocomplete="off">

    <div class="ruleNav">
        {{#if item.flags.wc5e.prev}}
            <a class="entity-link content-link prevlink" data-type="Item"
               data-pack="warcraft5e.{{item.flags.wc5e.prev.pack}}"
               data-id="{{item.flags.wc5e.prev.node}}"
               data-uuid="Compendium.warcraft5e.{{item.flags.wc5e.prev.pack}}.{{item.flags.wc5e.prev.node}}"
            >
                <span>{{localize item.flags.wc5e.prev.label}}</span>
            </a>
            {{else}}
            <span></span>
        {{/if}}

        {{#if item.flags.wc5e.next}}
            <a class="entity-link content-link prevlink nextlink" data-type="Item"
               data-pack="warcraft5e.{{item.flags.wc5e.next.pack}}"
               data-id="{{item.flags.wc5e.next.node}}"
               data-uuid="Compendium.warcraft5e.{{item.flags.wc5e.next.pack}}.{{item.flags.wc5e.next.node}}"
            >
                <span>{{localize item.flags.wc5e.next.label}}</span>
            </a>
        {{/if}}
    </div>

    <header>
        <h1>{{localize item.flags.wc5e.title}}</h1>
    </header>

    <section>
        {{#each item.flags.wc5e.content}}
            {{> "modules/warcraft5e/templates/item/parts/description.html"}}
        {{/each}}
    </section>

    <div class="ruleNav bottom">
        {{#if item.flags.wc5e.prev}}
            <a class="entity-link content-link prevlink" data-type="Item"
               data-pack="warcraft5e.{{item.flags.wc5e.prev.pack}}"
               data-id="{{item.flags.wc5e.prev.node}}"
               data-uuid="Compendium.warcraft5e.{{item.flags.wc5e.prev.pack}}.{{item.flags.wc5e.prev.node}}"
            >
                <span>{{localize item.flags.wc5e.prev.label}}</span>
            </a>
            {{else}}
            <span></span>
        {{/if}}

        {{#if item.flags.wc5e.next}}
            <a class="entity-link content-link prevlink nextlink" data-type="Item"
               data-pack="warcraft5e.{{item.flags.wc5e.next.pack}}"
               data-id="{{item.flags.wc5e.next.node}}"
               data-uuid="Compendium.warcraft5e.{{item.flags.wc5e.next.pack}}.{{item.flags.wc5e.next.node}}"
            >
                <span>{{localize item.flags.wc5e.next.label}}</span>
            </a>
        {{/if}}
    </div>

</form>