<form class="{{cssClass}} flexcol" autocomplete="off">

    <header>
        <div class="imageRow">
            {{log item}}
            <img src="{{item.img}}"/>
            <div class="imgContent">
                <h1>{{localize item.data.label}}</h1>
                <div class="headerSpellGrid">
                    <span>{{localize "WC5E.SkillSheet.Category"}}: {{localize item.data.category}}</span>
                </div>
            </div>
        </div>
    </header>

    <section class="skillContent">
        {{localize item.data.description}}

        {{#if item.data.options}}
            <ul>
                {{#each item.data.options}}
                    <li>{{localize this}}</li>
                {{/each}}
            </ul>
        {{/if}}

        {{#if item.data.target}}
            <a class="entity-link spellLink" data-pack="{{this.pack}}" data-id="{{this.node}}">
                {{localize this.label}}
            </a>
        {{/if}}
    </section>
</form>