<form class="{{cssClass}} flexcol" autocomplete="off">

    <header>
        <div class="imageRow">
            <img src="{{item.img}}"/>
            <div class="imgContent">
                <h1>{{localize item.name}}</h1>
                <div class="headerSpellGrid">
                    <span>{{localize "WC5E.SpellSheet.School"}}: {{localize item.system.school}}</span>
                    <span>{{item.system.activation.cost}} {{localize item.system.activation.type}}</span>
                </div>
            </div>
        </div>
    </header>

    <section class="spellContent">
        <div class="spellProps">
            {{#if item.system.range}}
                <div class="spellProp">
                    <strong>{{localize "WC5E.SpellSheet.Range"}}</strong>
                    {{item.system.range.value}} {{localize item.system.range.units}}
                </div>
            {{/if}}

            {{#if item.system.components}}
                <div class="spellProp">
                    <strong>{{localize "WC5E.SpellSheet.Components"}}</strong>
                    {{#if item.system.components.vocal}}
                        V
                    {{/if}}
                    {{#if item.system.components.somatic}}
                        S
                    {{/if}}
                </div>
            {{/if}}

            {{#if item.system.duration}}
                <div class="spellProp">
                    <strong>{{localize "WC5E.SpellSheet.Duration"}}</strong> {{item.system.duration.value}} {{localize item.system.duration.units}}
                </div>
            {{/if}}
        </div>
        <div class="spellDesc">
            {{{localize item.system.description.value}}}
            {{#each item.flags.wc5e.description}}
                {{> "modules/warcraft5e/templates/item/parts/description.html"}}
            {{/each}}
            {{#if item.flags.wc5e.heightened}}
                <br>
                <h4>{{localize "WC5E.SpellSheet.Heightened"}}:</h4>
                {{#each item.flags.wc5e.heightened}}
                    <p>
                        {{{localize this.value}}}
                    </p>
                {{/each}}
            {{/if}}
        </div>
    </section>

</form>